<!DOCTYPE html>
<html>
<head>
  <title>Edit Song</title>
</head>
<body>
  <h1>Edit a Song</h1>

  <form action="/songs/<%=@song_to_edit["id"]%>" method="post">
    <label for="title">Title:</label>
    <input name="song-title" id="title" type="text">
    <input name="_method" type="hidden" value="put"><br>

    <input type="submit">
  </form>
</body>
</html>  