<!DOCTYPE html>
<html>
<head>
  <title>Genres Index</title>
</head>
<body>
  <h1>Genre Types</h1>
  <ul>
    <% @genres.each do |genre| %>
      <li><%= genre["type"] %></li>
    <% end %>
  </ul><br>
  <br>
  <a href='/songs'>View Songs</a><br>
  <a href='/genres/new'>Add New Genre</a><br>
  <a href='/songs/new'>Add New Song</a>
</body>
</html>  