<!DOCTYPE html>
<html>
<head>
  <title>Song</title>
</head>
<body>
  <h1>Requested Song</h1>
  <ul>
      <li><%= @song["title"] %><%= (Songify.genres_repo.get_genre(@song["genre"]))["type"] %></li>
  </ul>
</body>
</html>  