<!DOCTYPE html>
<html>
<head>
  <title>Genre</title>
  <style>
    body {
      font-family: Tahoma;
    }
  </style>
</head>
<body>
  <h1>Requested Genre</h1>
  <ul>
      <li><%= @genre["type"] %></li>
  </ul><br>
  <br>
  <a href='/songs'>View Songs</a><br>
  <a href='/genres'>View Genres</a><br>
  <a href='/artists'>View Artists</a><br>
  <a href='/songs/new'>Add New Song</a><br>
  <a href='/genres/new'>Add New Genre</a><br>
  <a href='/artists/new'>Add New Artist</a>
</body>
</html>  