<!DOCTYPE html>
<html>
<head>
  <title>New Genre</title>
  <style>
    body {
      font-family: Verdana;
    }
  </style>
</head>
<body>
  <h1>Save a Genre</h1>

  <form action="/genres" method="post">
    <label for="title">Type:</label>
    <input name="genre-type" id="title" type="text"><br>

    <input type="submit">
  </form>
</body>
</html>  