<!DOCTYPE html>
<html>
<head>
  <title>New Artist</title>
  <style>
    body {
      font-family: Impact;
    }
  </style>
</head>
<body>
  <h1>Save an Artist</h1>

  <form action="/artists" method="post">
    <label for="name">Name:</label>
    <input name="artist-name" id="name" type="text"><br>

    <input type="submit">
  </form>
</body>
</html>  