<!DOCTYPE html>
<html>
<head>
  <title>New Song</title>
</head>
<body>
  <h1>Save a Song</h1>

  <form action="/songs" method="post">
    <label for="title">Title:</label>
    <input name="song-title" id="title" type="text"><br>
    <label for="genre">Genre:</label>
    <select id="genre" name="genre-type">
    <% @genres.each do |da_genre| %>
    <option value="<%=da_genre%>"><%=da_genre%></option>
    <% end %>
    </select><br>
    <input type="submit">
  </form>
</body>
</html>  