<!DOCTYPE html>
<html>
<head>
  <title>New Song</title>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #2fcb12;
    }
  </style>
</head>
<body>
  <h1>Save a Song</h1>

  <form action="/songs" method="post">
    <label for="title">Title:</label>
    <input name="song-title" id="title" type="text"><br>
    
    <label for="genre">Genre:</label>
    <select id="genre" name="genre-type">
    <% @genres.each do |da_genre| %>
    <option value="<%=da_genre%>"><%=da_genre%></option>
    <% end %>
    </select><br>
    <div class="artiste">
      <div class="artistfield"><label for="artist">Artist:</label>
      <input name="artist-name[]" id="artist" type="text">
      </div>
    </div>
    <div class="fa fa-plus-square add">Click to add another artist</div>
    <br>
    <div class="fa fa-minus-square subtract">Click to remove an artist</div>
    <br>

    <input type="submit">
  </form>
  <script src='/js.js'></script>

</body>
</html>  